<body>
<div class="row">
  <div class="col">
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
<div class="row justify-content-md-start">
  <div class="col col-md-1">
  </div>
  <div class="col-md-auto">
    Willkommen zu FantasyWeapons. <br> Ihr Shop für Alles was das Herz eines wahren Kriegers begehren kann.<br> Bei uns finden Sie Alles von Äxten mit Glyphen aus der altnordischen Mythologie, bis hin zum traditionelem Zhanmadao
  </div>
  <div class="col col-md-1">
  </div>
</div>
<div class="row">
  <div class="col">
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
<div class="row row-cols-2 justify-content-md-center bg-dark bg-opacity-75 shadow p-3 mb-5 rounded">
  <div class="col col-md-1">
  </div>
  <div class="col-md-auto">
    <br>
    <h1 class="text-danger text-center"> Aktion </h1> <br> <br> Hier sehen Sie eine Original Nachschmiedung des Himmelsklangs <br> aus dem Videospiel World of Warcraft. <br> Kaufen Sie sich jetzt dieses Meisterstück der höchsten Schmiedekunst <br> unseren Zeitalters, solange es noch
    auf Lager ist. <br> <br> <br>
    <a routerLink="/shop" routerLinkActive="active" class="btn btn-primary button"> Hier geht's zum Shop </a>
  </div>
  <div class="col col-md-1">
  </div>
  <div class="col-md-auto col-md-4 ">
    <img src="assets/Pictures/Sword1.jpg" class="img-thumbnail" alt="Sword"> </div>
  <div class="col col-md-1 ">
  </div>
</div>
</body>
